<div class="space"></div>
<footer class="footer wow bounceInDown">
           <div class="container">
               <div class="row">
                   <div class="col-sm-12 text-center">
                       <div class="social-icon">
                         <a href="https://www.facebook.com/october360/"><i class="fa fa-facebook wow fadeInLeft" data-wow-duration=".3s" data-wow-delay=".3s" ></i></a>
                         <a href=""><i class="fa fa-twitter wow fadeInLeft" data-wow-duration=".6s" data-wow-delay=".6s"></i></a>
                         <a href="https://www.instagram.com/october_360"><i class="fa fa-instagram wow fadeInLeft" data-wow-duration=".9s" data-wow-delay=".9s"></i></a>
                         <a href=""><i class="fa fa-linkedin wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay="1.2s" ></i></a>
                         <a href=""><i class="fa fa-youtube-square wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="1.5s" ></i></a>

                       </div> <br>
                       <div class="copyright">
                         <a href="https://www.linkedin.com/in/michael-andrawes-10b605134/" target="_blank">
                           <p class="footerlogo">
                               &copy; MICHAEL REDA 2019
                               <!-- <img src="img/logo.png"> -->
                           </p>
                           </a>
                           <div class="bordernow"></div>
                       </div>


                    </div>



               </div>
           </div>

       </footer>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

<!-- Bootstrap Core JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script type="text/javascript" src="/js/upload.js"></script>
<script type="text/javascript" src="/js/wow.min.js"></script>
<script type="text/javascript" src="/js/typed.min.js"></script>

<!-- Menu Toggle Script -->
<script>
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
});
new WOW().init();
$(".text").typed({
        strings:["<strong>Welcome to</strong><strong class='primary'> October360.</strong>","<strong>Happy to</strong><strong class='primary'> Serve you !!.</strong>"],
         typespeed:0,
         loop:true

     });



</script>
